@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    border: none;
    font-family: "Poppins", sans-serif;
}

:root,
#root,
#docs-root {
    --primary-color: #00B207;
    --secondary-color: #56AC59;
    --success-color: #00B207;
    --success-secondary: #56AC59;
}

/* :root,
#root,
#docs-root {
    --primary-color: #fff;
    --secondary-color: #000;
    --success-color: #00B207;
    --success-secondary: #56AC59;
  } */